*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(91, 108, 160),royalblue);   
    display: flex;
    align-items: center;
    justify-content: center;


}

#card {
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 50px;
    text-align: center;

}

#card img{
    height:50px;
    width:50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

#card h5{
    color: red;
    font-size: 20px;
}

#card button{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgb(121, 200, 253);
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}